<div class="toc-wrapper" id="my_toc">
    <ul class="toc-list">
        <li><a href="#top">Back to Top</a></li>
        <li><a href="#featured-project">Featured Projects</a></li>
        <li><a href="#optimization">Optimization</a></li>
        <li><a href="#machine-learning">Machine Learning</a></li>
        <li><a href="#high-dimensional-data-analysis">High-Dimensional Data Analysis</a></li>
        <li><a href="#deep-learning">Deep Learning</a></li>
        <li><a href="#supplementary-information">Supplementary Information</a></li>
        <li><a href="#future-update">Future Update</a></li>
    </ul>
</div>
