<div class="toc-wrapper" id="my_toc">
    <ul class="toc-list">
        <li><a href="#top">Return to Top</a></li>
        <li><a href="#featured-project">Featured Projects</a></li>
        <li><a href="#work_in_progress">Work in Progress</a></li>
        <li><a href="#optimization">Optimization</a></li>
        <li><a href="#machine-learning">Machine Learning</a></li>
        <li><a href="#high-dimensional-statistics">High-Dimensional</a></li>
        <li><a href="#deep-learning">Deep Learning</a></li>
        <li><a href="#reinforcement-learning">Reinforcement</a></li>
        <li><a href="#supplementary-information">Supplementary</a></li>
        <li><a href="#future-update">Future Update</a></li>
    </ul>
</div>
